body{
    background-color: rgb(37, 2, 2);
}
.black{
    background-color: black;
    width: 130px;
    height: 130px;
}
.white{
    background-color: white;
    width: 130px;
    height: 130px;
}
ins{
    color: rgb(255, 102, 0);
    font-display: 
    
}

